.container-fluid {
   padding: 0px;
}

body {
   background-color: rgb(228, 43, 105);
   background-image: linear-gradient(to left, rgb(228, 43, 105), rgb(61, 241, 202));
}

.drinks, .books {
   background-color: aliceblue;
   height: 300px;
   border-radius:  10px;
   margin-top: 50px;
}


#thumbnail {
   max-height: 230px;
}

#thumbnail {
   border-radius:  10px;
}
